<div class="parent">
  <div class="header"></div>
  <div class="main">
    <div class="categories" cdkDropListGroup>
        <ng-container *ngFor="let color of colors;let i=index">
          <div class="categories-item" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="{item:color,index:i}"
            (cdkDropListDropped)="drop($event)">
            <div class="inner" [ngStyle]="{'background-color':color}" cdkDrag>
              <!-- {{color}} -->
            </div>
          </div>
        </ng-container>
      </div>
  </div>
  <div class="footer"></div>
</div>